<h1><%= @post.title %></h1>

<p style='background-color:#ccc;border:solid 1px #333;'>
  <%= @post.body %>
</p>
<p>
  <%= @post.user.email %>
</p>

<form method='post' action='/posts/create-comment'>
  <input type='hidden' name='post_id' value='<%= @post.id %>' />
  <br />
  <textarea name="body"></textarea>
  <br />
  <input type='submit' value='save' />
</form>

<br />

<% @post.comments.each do |comment| %>
  <p>
    <%= comment.body %>
    <br />
    - <%= comment.user.email %>
  </p>
<%end%>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
